<div class="sidebar_plugin_mystromswitch">
    <label class="control-label" id="mystromswitchPowerValue">Powerconsumption 0.0W</label>
    <span id="myStromRelaisToggleButton" type="button" class="mystromToggleButton">Toggle Relais</span>
    <button class="btn btn-primary" data-bind="click: onToggleRelayEvent">{{ _('Go') }}</button>
</div>
