<div class="sidebar_plugin_mystromswitch">
    <label class="control-label" id="mystromswitchPowerValue">Powerconsumption 0.0W</label>
    <button class="btn btn-primary" data-bind="click: onToggleRelayEvent">{{ _('Toggle Relais') }}, visible : settings.plugins.mystromswitch.onOffButtonEnabled"/>
</div>
