<form class="form-horizontal">
	<h4>General</h4>
	<hr>
	<div class="control-group">
        <label class="control-label">{{ _('IP-Address') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.mystromswitch.ip">
        </div>
    </div>

	<div class="control-group">
        <label class="control-label">Refresh Intervall</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" class="input-mini text-right" data-bind="value: settings.plugins.mystromswitch.intervall">
                <span class="add-on">sec</span>
            </div>
        </div>
    </div>
</form>
