<div class="sidebar_plugin_mystromswitch">
    <label class="control-label" id="mystromswitchPowerValue">Powerconsumption 0.0W</label>
    <label class="control-label" id="mystromswitchEnergyValue">Energy 0.0Wh</label>
    <button class="btn btn-primary" data-bind="click: onToggleRelayEvent, visible : onOffButtonEnabled">{{ _('Toggle Relais') }}</button>
    <label class="checkbox">
		<input type="checkbox" data-bind="enable: loginState.isUser(), checked: automaticShutdownEnabled, visible:showShutdownOctopiOption">
		{{ _('Shutdown Octoprint after print finishes') }}
	</label>

	<label class="checkbox">
		<input type="checkbox" data-bind="enable: loginState.isUser(), checked: automaticPowerOffEnabled, visible:showPowerOffPrintFinishOption">
		{{ _('Power Off Relais after print finishes') }}
	</label>
</div>
